form.order {
    display: flex;
    flex-flow: column;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px 10px 20px;
}

label, input, select {
    padding: 10px;
}

input, select {
    border: 1px solid #000;
}

button {
    padding: 10px;
    margin-top: 15px;
    background-color: lightblue;
}
